<div class="tiles-container">
    <div class="tile-container pet-container" ng-if="$ctrl.pet && !$ctrl.pet.isLiked">
        <div class="tile-header">
            <h2 class="title pet-name">{{$ctrl.pet.name}}</h2>
            <span class="subtitle">{{$ctrl.pet.info}}</span>
        </div>
        <div class="tile-body">
            <div class="pet-image-container">
                <div class="pet-image" ng-style="{'background-image': $ctrl.getImage() }">
                    <div class="pet-information">
                        {{$ctrl.pet.description}}
                    </div>
                    <button class="button-detail">+</button>
                </div>
            </div>
            <div class="pet-description">

            </div>
        </div>
        <div class="tile-footer">

            <button class="button dislike" ng-click="$ctrl.dislikePet($ctrl.pet)">
                <i class="icon cancel"></i>
            </button>
            <button class="button like" ng-click="$ctrl.likePet($ctrl.pet)">
                <i class="icon pet-hand"></i>
            </button>
        </div>
    </div>
    <div class="tile-container nothing-container" ng-if="!$ctrl.pet">
        <div class="tile-header empty-pets">
            No animals left to pet!
        </div>
        <div class="tile-footer">
            <button class="button" ng-click="$ctrl.reloadSomePets()" ng-if="$ctrl.pets.length">Give another chance to some pets!</button>
            <button class="button" ng-click="$ctrl.togglePetList()">My pets</button>
        </div>
    </div>
</div>